.workChartDiv {
    display: flex;
    width: 100%;
    height: 500px;
    background-color:rgb(37, 37, 37);
    justify-content: center;
    align-items:flex-end;
    flex-wrap: wrap;

    padding-bottom: 200px;
}
.workChartBottom {
    display: flex;
    width: 100%;
    height: 200px;
    background-color:rgb(37, 37, 37);
    justify-content: center;
    align-items:flex-start;
}

.workChartBox {

    margin-right: 2%;
    margin-left: 2%;
}
.workChartColoredBox {
    background-color:rgb(17, 119, 221);
}
.workChartColoredBox:hover {
    background-color:rgb(27, 141, 255);

}
.workChartColoredSideBox {
    background-color:rgb(194, 194, 194);

}
.workChartEmptyBox {
    /* background-color:rgb(17, 119, 221); */
    margin-right: 2%;
    margin-left: 2%;
    color: aliceblue;
}